@import url('https://fonts.googleapis.com/css?family=Poppins:900i');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Mono+One&family=Syne:wght@400;500;600;700;800&display=swap');


.card-body{
    display: flex;
    justify-content: space-around;
    min-width: 420px;
    max-width: auto;
    max-height: max-content;
    border: solid 1px #252525;
    margin: 15px 20px;
    padding: 20px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

    font-size: 20px;
    color: black;

}

/* Buttons to JOIN */

.cta-join {
    display: flex;
    padding: 5px 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #559661;
    background: #B3ECBD;
    transition: 1s;
    box-shadow: 3px 3px 0 #252525;
    transform: skewX(0deg);
    }

.cta-join:focus {
   outline: none;

}

.cta-join:hover {
    transition: 0.5s;
    box-shadow: 5px 5px 0 #9b70c4;
    color: #B3ECBD;
    background-color: #559661; 
}

.cta-join span join-btn:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta-join:hover  span join-btn:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  span join-btn {
    transform: skewX(0deg) 
  }

  span join-btn:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  